<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет!</h1>
    <p>
      В раздел курсов был добавлен новый курс "<b><%= @course %></b>".<br>
    </p>
    <p>Спасибо, что присоединились к нам и отличного дня!</p>
  </body>
</html>
